#hare {
	float: right;
	margin: 180px 0 0 0;
	height: 200px;
	width: 220px;
	transform: scale(-1, 1);

}

#tort {
	float: left;
	margin: 180px 0 0 0;	
	height: 200px;
	width: 190px; 
	
}



.col-md-3 {
	background-color: white;
	height: 1000px;
	border-style: solid;
	border-color: white;
	z-index:-1;
}

#cent-left {

    border-right: solid black 2px;

}

#cent-right {

    border-left: solid black 2px;

}

.instr {
	position: absolute;
	bottom: 0;
	margin: 0 auto;
}

/*.countdown:before {
    content: '321';

    font-family:monospace;
    display:inline-block;
    width:1ch;
    overflow:hidden;
    position: absolute;
    margin: 200px -10px 0px 0px;
    animation:countdowns 3s steps(3) infinite;

}

@keyframes countdowns {
    0% {text-indent:0}
    100% {text-indent:-3ch;}
}*/

